**/target/
.project
.classpath
*/.mvn/*
*/mvnw
*/mvnw.cmd
.idea/*

*.iws
*.ipr
*.bak
*.class
*.original


*.o
*.lo
*.la
*.al
.lib
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~ #*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
*.class
*.cache*
*.release*
target
target/*
/**/.classpath
/**/.setting
/**/.idea
/**/.project
/**/.idea
/**/*.iml
/**/.settings
/**/*.log
/**/*.gz

node_modules
node_modules/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode

.factorypath
